@(races: Seq[Race], classes: Seq[DnDClass])
@main(title = "Create PHB") {
  <h1>Personal Player's Handbook</h1>
  
  <h3>Choose your Races</h3>
  @for(raceGroup <- races.grouped(3)) {
    <p>
      @checkboxes(raceGroup.map(_.name))
    </p>
  }

  <h3>Choose your Classes</h3>
  @for(classGroup <- classes.grouped(3)) {
    <p>
      @checkboxes(classGroup.map(_.name))
    </p>
  }
  <p><a class="btn btn-default" href="/phb" target="_blank">Create Player Handbook</a></p>
}

 @checkboxes(options: Seq[String]) = {
    @for(o <- options) {
      <label class="checkbox-inline">
        <input type="checkbox" value="@o.toString()">@o.toString() 
      </label>
    }
  }